.productCards{
    padding: 20px;
}
.Continer{
    width: 100%;
    position: relative;
}
.Continer .controllBar{
    position: relative;
    margin: 10px 0 0 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.Continer .controllBar .filter,
.Continer .controllBar .filterSubCategory{
    width: 15%;
}
.Continer .controllBar .filter .filterText,
.Continer .controllBar .filterSubCategory .filterText{
    width:90%;
    font-size: 1em;
    font-weight: 600;
    margin-right: 20px;
}
.Continer .controllBar .filter select,
.Continer .controllBar .filterSubCategory select{
    padding: 10px;
    margin-right: 20px;
}

.cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 4%;
    margin: 10px;
    align-items: center;
    justify-items: center;
    padding: 20px;
    margin-top: 120px;
}
.productCards .Continer .cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    margin-bottom: 90px;
    width: 250px;
    height: 70%;
}
.card:hover:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(206, 206, 206, 0.736);
    z-index: -1;
    filter: blur(2px);
    border-radius: 30px;
    box-shadow: 14px 14px 41px 6px rgba(31,31,31,0.75);
    -webkit-box-shadow: 14px 14px 41px 6px rgba(31,31,31,0.75);
    -moz-box-shadow: 14px 14px 41px 6px rgba(31,31,31,0.75);
}
.card_img{
    margin-top: -12vw;
}
.card_img img{
    width: 250px;
    height: 250px;
    transform: scale(0.8);
    object-fit: cover;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.card .info .title{
    width: 100%;
    height: fit-content;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
}
.summary{
    width: 100%;
    text-align: center;
}
.categorie{
    max-width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(92, 92, 92, 0.788);
}
.Price{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255 127 69);
    padding: 10px;
}

.cardDetailsBtn{
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(49, 49, 49);
    color: aliceblue;
    cursor: pointer;
} 
.cardDetailsBtn:hover{
    background-color: rgb(255 127 69);
} 