.userList{
    flex: 4;
}
.userList .test{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: var(--loader-color);
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #dfc;
    border-color: #dfc transparent #dfc transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
.UserListUser{
    display: flex;
    align-items: center;
}
.UserListUser img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.userListDetails{
    padding: 5px 20px;
    border-radius: 20px;
    margin: 0px 20px 0px 20px;
    border: none;
    background-color: var(--button-Edit-background-color);
    cursor: pointer;
}
.userListBlock{
    color: var(--delete-icon-color);
    cursor: pointer;
}
.userListUnBlock{
    color: var(--check-icon-color);
    cursor: pointer;
}
.super-app-theme--header{
    color: var(--table-color);
}
.super-app-theme--cell{
    color: var(--table-color);
}
.MuiDataGrid-root p {
    color: var(--MuiTypography-colorInherit);
}
.MuiIconButton-label{
    color: var(--table-color);
}
.MuiTablePagination-root{
    color: var(--table-color);
}
.super-app-theme--block{
    background-color: rgba(62, 62, 62, 0.377);
}
.Mui-odd.super-app-theme--block.MuiDataGrid-row:hover{
    background-color: rgba(62, 62, 62, 0.377);
}
.Mui-even.super-app-theme--block.MuiDataGrid-row:hover{
    background-color: rgba(62, 62, 62, 0.377);
}
