body{
  zoom: unset;
}
:root{
  --body-background-color: rgb(255, 255, 255);
  --home-color: #ecf0f1;
  --box-shadow-color: rgba(0, 0, 0, 0.75);
  --border-color: gray;
  --label-color: gray;
  --button-background-color:#79025182;
  --button-Edit-background-color:aquamarine;
  --button-color:rgb(3, 3, 3);
  --delete-icon-color:red;
  --check-icon-color:rgb(10, 119, 0);
  --h-color:rgb(170, 170, 170);
  --widgetSmall-color:rgb(194 194 239);
  --table-even-background-color:rgb(193 191 191);
  --Approved-button-color: #7dff75;
  --Declined-button-color: #ff8989;
  --Pending-button-color: #c281ff;
  --background-button-product: #494949;
  --sidebar-header-color: #727272b5;
  --sidebar-hover-color: rgb(228, 228, 250);
  --navbar-background-color: #ffff;
  --logo-color: #fff;
  --logo-firstChild-color: transparent;
  --logo-secChild-color: #555;
  --navbar-icon-color: #555;
  --navbar-notification-background-color: red;
  --navbar-notification--color: aliceblue;
  --navbar-background-hover-color: rgb(209, 209, 209);
  --calender-txt-color:black;
  --calender-header-color:rgb(170, 170, 170);
  --calender-background-color: #fff;
  --calender-curr-day-color: #ffff;
  --calender-curr-day-background-color: #c281ff;
  --social-icon-border-color:rgb(128, 128, 128);
  --social-icon-background-color:rgb(231 231 231);
  --social-icon-background-before-color:rgb(0, 0, 0);
  --taggle-background-color: rgb(232, 232, 232);
  --taggle-shadow-color: rgba(92,89,89,0.75);
  --taggle-cit-shadow-color: rgb(0, 0, 0);
  --taggle-cit-otherSide-shadow-color: rgb(213, 213, 213);
  --Popup-layout-color: rgba(0, 0, 0, 0.458);
  --Popup-close-button-color: white;
  --Popup-close-button-background-color: black;
  --user-upload-block-background-color:#10ac85c7;
  --user-upload-button-color:rgba(110, 110, 182, 0.966);
  --admin-userjsx-border-info-details:black;
  --admin-userjsx-text-info-details:rgba(69, 69, 69, 0.803);
  --admin-userjsx-text-active-details:blue;
  --admin--deposite--boxshadow:rgba(0,0,0,0.75);
  --admin--deposite--recipe--bottom--border--boxshadow:black;
  --admin--deposite--recipe--text--boxshadow:rgb(0, 0, 0);
  --admin--deposite--recipe--button:rgb(72, 72, 72);
  --admin--deposite--recipe--button-text:aliceblue;
  --admin--deposite--recipe--arrow-background:rgb(0, 0, 0);
  --admin--deposite--recipe--button-hover:rgba(97, 230, 218, 0.721);
  --admin--deposite--slides:#000;
  --admin--report--background:rgb(255, 255, 255);
  --admin--changeCategory--background:#cdcdcd;
  --admin--addemployee--hover:#c5f6a9;
  --admin--permission--header-color: #34495e;
  --admin--permission--popup--background:#ecf0f1;
  --admin--permission--popup--text:#34495e;
  --popup--title--background: #526D82;
  --popup--title--color:#eae7df;
  --calender--chart--background : #ffff;
  --calender--chart--color :rgb(42, 44, 45) ;
  --widgetSmall--widgetSmallTitle: #080808;
  --MuiTypography-colorInherit :#080808;
  --animate--button:#6363c43c;
  --loader-color: rgb(220 221 219);
}
.dark{
  --body-background-color: rgb(26, 26, 26);
  --home-color: #11171b;
  --chart-title-color:aliceblue;
  --featuredWerpper-color:aliceblue;
  --box-shadow-color: rgba(71, 71, 71, 0.75);
  --border-color: rgb(206, 206, 206);
  --label-color: rgb(206, 206, 206);
  --button-background-color:#a18a9982;
  --button-Edit-background-color:aquamarine;
  --button-color:aliceblue;
  --delete-icon-color:red;
  --check-icon-color:rgb(10, 119, 0);
  --h-color:rgb(243, 243, 243);
  --widgetSmall-color:rgb(194 194 239);
  --table-header-color:rgb(26, 26, 26);
  --table-even-color:rgb(26, 26, 26);
  --table-even-background-color:rgb(255, 255, 255);
  --Approved-button-color: #7dff75;
  --Declined-button-color: #ff8989;
  --Pending-button-color: #c281ff;
  --sidebar-header-color: rgb(235, 235, 235);
  --sidebar-item-color: rgb(235, 235, 235);
  --sidebar-item-active-color: rgb(26, 26, 26);
  --logo-color: #fff;
  --logo-firstChild-color: #fff;
  --logo-secChild-color: rgb(137, 137, 207);
  --navbar-background-color: rgb(26, 26, 26);
  --navbar-icon-color: white;
  --navbar-notification-background-color: red;
  --navbar-notification--color: aliceblue;
  --navbar-background-hover-color: rgb(209, 209, 209);
  --calender-txt-color:rgb(255, 255, 255);
  --calender-header-color:rgb(219, 219, 219);
  --calender-background-color: rgb(39, 38, 62);
  --calender-curr-day-color: #ffff;
  --calender-curr-day-background-color: #b364fe;
  --taggle-background-color: rgb(26, 26, 26);
  --taggle-shadow-color: rgba(242, 241, 241, 0.75);
  --taggle-cit-shadow-color: rgb(81, 81, 81);
  --taggle-cit-otherSide-shadow-color: rgb(213, 213, 213);
  --taggle-span-color: aliceblue;
  --table-color:aliceblue;
  --update-user:aliceblue;
  --update-product:aliceblue;
  --header-calender-color:rgb(226, 226, 227);
  --monthList-calender-color:rgb(26, 26, 26);
  --admin-userjsx-border-info-details:white;
  --admin-userjsx-text-info-details:rgba(255, 255, 255, 0.803);
  --admin-userjsx-text-active-details: #55efc4;
  --admin--deposite--boxshadow:rgba(255, 255, 255, 0.75);
  --admin--deposite--recipe--bottom--border--boxshadow:rgb(197, 197, 197);
  --admin--deposite--recipe--text--boxshadow:rgb(255, 255, 255);
  --admin--deposite--recipe--button:rgb(215, 215, 215);
  --admin--deposite--recipe--button-text:rgb(73, 102, 124);
  --admin--deposite--recipe--arrow-background:rgba(255, 255, 255, 0.55);
  --admin--deposite--recipe--button-hover:rgba(199, 158, 100, 0.623);
  --admin--deposite--slides:#fefdfd;
  --admin--report--background:rgba(0, 0, 0, 0.361);
  --admin--changeCategory--background:#3a3939;
  --admin--addemployee--hover:#9da4eff4;
  --admin--permission--header-color:#ecf0f1;
  --Popup-layout-color: rgba(255, 255, 255, 0.458);
  --admin--permission--popup--background:#11171b;
  --admin--permission--popup--text:#bfe7f1;
  --popup--title--background:#526D82;
  --popup--title--color:#27374D;
  --calender--chart--background :  #11171b;
  --calender--chart--color :aliceblue ;
  --widgetSmall--widgetSmallTitle: #ffff;
  --MuiTypography-colorInherit: #ffff;
  --animate--button:#c6d3c73c;
  --loader-color: #000;
}
.continerMainPageAdmin{
  display: flex;
  transition: 0.5s ease-in-out;
  background-color: var(--body-background-color);
}
