.titleOfpage{
    margin: 20px;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
}
.filterContainer{
    display: flex;
    justify-content: space-between;
}
.filterContainer .filter{
    margin: 20px;
}
.filterContainer .filter .filterText{
    font-size: 1em;
    font-weight: 600;
    margin-right: 20px;
}
